<footer class="w-full h-auto">
    <section class="bg-black flex flex-col items-center mt-32 lg:flex lg:flex-row lg:justify-between lg:mt-16 lg:rounded-lg lg:ring-offset-2 lg:ring lg:ring-gray-300 lg:mx-7 lg:px-16">
            <h1 class="text-white tracking-wide font-bold text-4xl mt-24 lg:text-2xl lg:mt-0">¿Pdemos ayudarle?</h1>
            <div class="text-white flex items-center lg:px-12">
                <div class="flex flex-col items-center mr-8 mt-14 lg:mt-4">
                    <div class="bg-white rounded-full w-44 h-44 flex items-center justify-center lg:w-10 lg:h-10    ">
                        <button class="w-24 flex justify-center" type="button">
                            {% include 'svg/intercom.html'%}
                        </button>
                    </div>
                    <a class="text-3xl font-bold mt-10 mb-20 lg:text-base lg:my-1" href="">CHAT</a>
                </div>
                <div class="flex flex-col items-center ml-8 mt-14 lg:mt-4">
                    <div class="bg-white rounded-full w-44 h-44 flex items-center justify-center lg:w-10 lg:h-10">
                        <button class="w-24 flex items-center justify-center" type="button">
                            {% include 'svg/phone.html'%}
                        </button>
                    </div>
                    <a class="text-3xl font-bold mt-10 mb-20 lg:text-base lg:my-1" href="">LLAMAR</a>
                </div>
            </div>
    </section>

    <div class="flex flex-col items-center">
        <div class="bg-white text-black flex flex-col items-center text-3xl mt-16 font-bold lg:text-lg lg:mt-4">
            <a class="my-8 lg:my-2 " href="">SOBRE NOSOTROS</a>
            <a class="my-8 lg:my-2 " href="">MEDIDAS DE SEGURIDAD (COVID-19)</a>
            <a class="my-8 lg:my-2 " href="">CÓMO MERCAR</a>
            <a class="my-8 lg:my-2 " href="">PROVEEDORES</a>
            <a class="my-8 lg:my-2 " href="">CONTÁCTENOS</a>
            <a class="my-8 lg:my-2 mb-24" href="">ZONA DE COBERTURA</a>
        </div>
        <br>
            <hr class="w-32 border-2 border-blue-900/30  mb-24 lg:mb-2 ">
        <br>
        <div class="flex flex-col items-center">
            <div class="bg-black rounded-full w-28 h-28 flex items-center justify-center lg:w-14 lg:h-14">
                <button class="w-16 lg:w-8" type="button">
                    {% include 'svg/instagram.html'%}
                </button>
            </div>
            <a class="text-3xl mt-16 mb-24 font-bold text-center lg:mt-2 lg:mb-4 lg:text-lg" href="">POLÍTICA DE TRATAMIENTO DE DATOS PERSONALES</a>
        </div>
    </div>
    <section>
        <hr class="w-full h-32 bg-black lg:h-10">
    </section>
</footer>
